@use '../../theme/_colors' as col;

.character-edit-content {
  overflow-x: auto;
  height: 100%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding-bottom: 1rem;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .character-edit__header__back-button {
      color: white;
      font-size: 24px;
      font-family: "Poppins Black", sans-serif;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
        border: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .character-edit-content {
    &__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
    }
  }

  .offcanvas {
    width: 90vw;
    padding: 1rem;
  }
}


.table-responsive {
  flex-grow: 1;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.65);
}
thead {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 10;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: col.$yellow;
  }

  &.sticky {
    background-color: #1c1c1c;
  }

  th {
    cursor: pointer;
    user-select: none;

    .th-cell {
      position: relative;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:last-of-type {
      background-color: transparent;
      cursor: default;
    }

    .sort-indicator {
      margin-left: 5px;
      color: col.$yellow;
      font-size: 0.8rem;
    }
  }
}

tbody {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  vertical-align: middle;

  tr:hover {
    .actions {
      opacity: 1;
    }
  }
}

th {
  padding: 0;
  .th-cell {
    padding: .25rem 20px;
  height: 46px;
  }
}

td {
  padding: .25rem 20px;
}

.actions {
  opacity: 0;

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn {
  font-weight: bold;
}

.button--edit {
  color: col.$yellow;
}
.button--copy {
  color: col.$white;
}
.button--delete {
  color: col.$red;
}

.th-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.offcanvas {
  width: 500px;
  padding: 1rem;
}
