<button
  (click)="onClick.emit()"
  [type]="type()"
  [disabled]="disabled()"
  [ngStyle]="customStyle()"
  [ngClass]="{
    'dynamic-button': true,
    'dynamic-button--flat': variant() === 'flat',
    'dynamic-button--outline': variant() === 'outline',
    'dynamic-button--simple': variant() === 'simple',
    'dynamic-button--fit-content': width() === 'fit-content',
    'dynamic-button--full-width': width() === '100%',
  }"
  [style.color]="textColor()"
  [style.background-color]="
    variant() !== 'outline' && variant() !== 'simple' ? backgroundColor() : null
  "
  [style.border-color]="variant() === 'outline' ? backgroundColor() : null">
  @if (iconPrefix()) {
    <img
      [src]="'assets/icons/' + iconPrefix()"
      class="dynamic-button__icon dynamic-button__icon--prefix"
      alt="Icon" />
  }
  <span class="dynamic-button__text">{{ text() }}</span>
  @if (iconPostfix()) {
    <img
      [src]="'assets/icons/' + iconPostfix()"
      class="dynamic-button__icon dynamic-button__icon--postfix"
      alt="Icon" />
  }
</button>
