@if (purpose() === 'side') {
  <div class="special-power">
    <div class="special-power__side-icon">
      @if (purpose() === 'side' && text() === 'sötét') {
        <span class="special-power__side-icon--dark"></span>
      }
    </div>
    <div class="special-power__text">
      <div class="special-power__label">{{ title() }}</div>
      <div class="special-power__value">{{ text() }}</div>
    </div>
  </div>
} @else {
  <div class="special-power">
    <div class="special-power__star-icon">
      <img src="/assets/ui/star@3x.png" alt="star" />
    </div>
    <div class="special-power__text">
      <div class="special-power__label">{{ title() }}</div>
      <div class="special-power__value">{{ text() }}</div>
    </div>
  </div>
}
