@if (hasActionButtons()) {
  <div class="swiper-nav">
    <div class="swiper-nav__paginator">
      @for (character of characters(); track character.id; let i = $index) {
        <div
          class="swiper-nav__paginator__item"
          (click)="slide(i)"
          [class.swiper-nav__paginator__item--active]="
            currentIndex() === i
          "></div>
      }
    </div>
    <button
      class="btn swiper-nav__button swiper-nav__button--prev"
      type="button"
      (click)="slidePrev()">
      <img
        class="swiper-nav__button__image"
        src="/assets/ui/arrow_circle.png"
        alt="prev-btn" />
    </button>
    <button
      class="btn swiper-nav__button swiper-nav__button--next"
      type="button"
      (click)="slideNext()">
      <img
        class="swiper-nav__button__image"
        src="/assets/ui/arrow_circle.png"
        alt="next-btn" />
    </button>
  </div>
}

<swiper-container
  #swiperContainer
  class="character-swiper"
  navigation="true"
  pagination="true"
  keyboard="true"
  grab-cursor="true"
  centered-slides="true"
  slides-per-view="1"
  space-between="30">
  @for (character of characters(); track character.id) {
    <swiper-slide class="character-slide">
      <div class="character-card">
        <app-character-image [characterId]="character.id" />
      </div>
    </swiper-slide>
  }
</swiper-container>
