@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

.swiper {
  --swiper-theme-color: white;

  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #ffc107;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    &:after {
      font-size: 20px;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

.swiper-nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffc107;
    border: 2px solid #ffc107;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
      background-color: #ffc107;
      color: black;
    }

    &:focus {
      outline: none;
    }
  }
}

swiper-container {
  width: 100%;
  height: 100%;
  --swiper-navigation-color: #ffc107;
  --swiper-pagination-color: #ffc107;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

swiper-slide {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &.swiper-slide-active {
    transform: scale(1.05);
    transition: transform 0.3s;
  }
}

.character-card {
  width: 100%;
  height: 100%;
  padding: 15px;
  transition: transform 0.5s;

  app-character-image {
    height: 100%;
  }
}

// Media queries for responsive design
@media (max-width: 768px) {
  swiper-slide {
    width: 300px;
  }
}

@media (max-width: 480px) {
  swiper-slide {
    width: 250px;
  }
}
