<div class="offcanvas-header">
  <h5 class="offcanvas-header__title" id="offcanvasRightLabel">
    Karakter {{ character() ? 'hozzáadása' : 'szerkesztése' }}
  </h5>
  <button
    type="button"
    #closeBtn
    class="btn-close text-reset"
    data-bs-dismiss="offcanvas"
    aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <form (ngSubmit)="submit()" aria-labelledby="character-form-heading">
    <h2 id="character-form-heading" class="visually-hidden">Character Form</h2>
    <div class="input-group mb-3">
      <label class="form-label" id="avatar-group-label"
        >Avatár kiválasztása</label
      >
      <div
        class="d-flex flex-row g-1 overflow-x-auto"
        role="radiogroup"
        aria-labelledby="avatar-group-label">
        @for (character of characters; track character.uuid) {
          @let selectedCharPicture =
            characterForm.controls.avatar.value === character.id;
          <app-character-image
            [characterId]="character.id"
            [hasBackground]="selectedCharPicture"
            [selectable]="true"
            [customImageStyle]="{ padding: 0, width: '100px' }"
            (onClickEvent)="
              this.characterForm.controls.avatar.setValue(character.id)
            "
            role="radio"
            [attr.aria-checked]="selectedCharPicture"
            [attr.aria-label]="'Avatar ' + character.id" />
        }
      </div>
      @if (
        characterForm.controls.avatar.hasError('required') &&
        characterForm.controls.avatar.touched
      ) {
        <div class="invalid-feedback d-block" role="alert">Kötelező!</div>
      }
    </div>
    <div class="input-grid">
      @let nameControl = characterForm.controls.name;
      @let sideControl = characterForm.controls.side;
      @let powerControl = characterForm.controls.power;
      @let midiclorianControl = characterForm.controls.midiclorian;
      <div class="mb-3">
        <label class="form-label" for="name-input">Név</label>
        <input
          id="name-input"
          class="form-control"
          [formControl]="nameControl"
          [class.is-invalid]="nameControl.invalid && nameControl.touched"
          type="text"
          aria-required="true"
          [attr.aria-invalid]="nameControl.invalid && nameControl.touched" />
        @if (nameControl.hasError('required') && nameControl.touched) {
          <div class="invalid-feedback" role="alert">Kötelező!</div>
        }
        @if (nameControl.hasError('maxlength') && nameControl.touched) {
          <div class="invalid-feedback" role="alert">Maximum 50 karakter!</div>
        }
      </div>

      <div class="mb-3">
        <label class="form-label" for="side-select">Oldal</label>
        <select
          class="form-select"
          id="side-select"
          [formControl]="sideControl"
          aria-required="true">
          <option [value]="Side.DARK">Sötét</option>
          <option [value]="Side.LIGHT">Világos</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="power-select">Különleges erő</label>
        <select
          class="form-select"
          id="power-select"
          [formControl]="powerControl"
          aria-required="true">
          <option [value]="'Erő használata'">Erő használata</option>
          <option [value]="'Kibernetikus test'">Kibernetikus test</option>
          <option [value]="'Harcászati tapasztalat'">
            Harcászati tapasztalat
          </option>
          <option [value]="'Űrcsempész'">Űrcsempész</option>
          <option [value]="'Péncélzat'">Péncélzat</option>
          <option [value]="'Fehér páncélzat'">Fehér páncélzat</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="midi-input">Midikloriánok</label>
        <input
          id="midi-input"
          class="form-control"
          [formControl]="midiclorianControl"
          [class.is-invalid]="
            midiclorianControl.invalid && midiclorianControl.touched
          "
          type="text"
          aria-required="true"
          [attr.aria-invalid]="
            midiclorianControl.invalid && midiclorianControl.touched
          " />
        @if (
          midiclorianControl.hasError('required') && midiclorianControl.touched
        ) {
          <div class="invalid-feedback" role="alert">Kötelező!</div>
        }
        @if (midiclorianControl.hasError('min') && midiclorianControl.touched) {
          <div class="invalid-feedback" role="alert">Nem lehet negatív!</div>
        }
      </div>
    </div>

    <div class="mb-3">
      <label for="description-label" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description-label"
        rows="3"
        [formControl]="characterForm.controls.description"
        [class.is-invalid]="
          characterForm.controls.description.invalid &&
          characterForm.controls.description.touched
        "
        [attr.aria-invalid]="
          characterForm.controls.description.invalid &&
          characterForm.controls.description.touched
        "></textarea>
      @if (
        characterForm.controls.description.hasError('maxlength') &&
        characterForm.controls.description.touched
      ) {
        <div class="invalid-feedback" role="alert">Maximum 500 karakter!</div>
      }
    </div>

    @let char = character();
    @if (char) {
      <div class="time-info form-label">
        <label for="counter">Karakter létrehozás óta eltelt idő:</label>
        <p id="counter">{{ (elapsedSeconds$ | async) ?? 0 | elapsedTime }}</p>
      </div>
    }
    <div class="actions-wrapper">
      <app-dynamic-button
        class="w-100"
        [text]="'Mégsem'"
        [customStyle]="{ width: '100%', color: 'black' }"
        [variant]="'outline'"
        (onClick)="cancel()" />
      <app-dynamic-button
        class="w-100"
        [text]="'Mentés'"
        [type]="'submit'"
        [customStyle]="{ width: '100%' }" />
    </div>
  </form>
</div>
