<app-page-shell backgroundUrl="/assets/backgrounds/bg_3@2x.png">
  <div class="simulation-content">
    @let isMobile = (screenSizeObservable() | async) === ScreenSize.MOBILE;
    <h1 class="title">
      {{ winner() ? 'A csata nyertese' : 'A tudás legyen veled!' }}
    </h1>
    <div
      class="body"
      [ngStyle]="{
        'grid-template-columns': winner()
          ? '1fr'
          : isMobile
            ? '1fr 1fr'
            : '2fr 1fr 2fr',
      }">
      @let imageWidth =
        winner() ? (isMobile ? '200px' : '400px') : isMobile ? '50vw' : '100%';
      @let dChar = darkCharacter();
      @if (dChar && (!winner() || (winner() && winner()?.side === Side.DARK))) {
        <app-fighter
          [character]="dChar"
          [isAttacking]="attacker()?.id === dChar.id"
          [winner]="winner()"
          [defaultLookDirection]="Direction.RIGHT"
          [imageWidth]="imageWidth"
          [backgroundColor]="'grey'"
          (onBack)="back()" />
      }
      @if (!winner() && !isMobile) {
        <div class="vs">vs</div>
      }
      @let lChar = lightCharacter();
      @if (
        lChar && (!winner() || (winner() && winner()?.side === Side.LIGHT))
      ) {
        <app-fighter
          [character]="lChar"
          [isAttacking]="attacker()?.id === lChar.id"
          [winner]="winner()"
          [defaultLookDirection]="Direction.LEFT"
          [imageWidth]="imageWidth"
          [backgroundColor]="'white'"
          (onBack)="back()" />
      }
    </div>
  </div>
</app-page-shell>
