<app-page-shell backgroundUrl="/assets/backgrounds/bg_3@2x.png">
  <div class="simulation-content">
    <h1 class="title">
      {{ winner() ? "A csata nyertese" : "A tudás legyen veled!" }}
    </h1>

    <div
      class="body"
      [ngStyle]="{ 'grid-template-columns': winner() ? '1fr' : '2fr 1fr 2fr' }"
    >
      @let dChar = darkCharacter(); @if (dChar && (!winner() || (winner() &&
      winner()?.side === Side.DARK))) {
      <div class="char" [class.attacking]="attacker()?.id === dChar.id">
        @if (!winner()) {

        <div class="side">Sötét oldal</div>
        }
        <app-character-image
          [characterId]="dChar.id"
          [lookDirection]="Direction.RIGHT"
          [customImageStyle]="{width: '400px'}"
          [backgroundColor]="'grey'"
        />
        <div>
          <div class="character-name character-name--left">
            {{ dChar.name }}
          </div>
          @if (winner()) {
          <app-dynamic-button
            [text]="'Vissza a fedélzetre'"
            (onClick)="back()"
          />
          } @else {
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              [style]="'width: ' + dChar.health + '%'"
              [attr.aria-valuenow]="dChar.health"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ dChar.health }} %
            </div>
          </div>
          }
        </div>
      </div>
      } @if (!winner()) {
      <div class="vs">vs</div>
      } @let lChar = lightCharacter(); @if (lChar && (!winner() || (winner() &&
      winner()?.side === Side.LIGHT))) {
      <div class="char" [class.attacking]="attacker()?.id === lChar.id">
        @if (!winner()) {
        <div class="side">Világos oldal</div>
        }
        <app-character-image
          [characterId]="lChar.id"
          [customImageStyle]="{width: '400px'}"
          [backgroundColor]="'white'"
        />
        <div>
          <div class="character-name character-name--right">
            {{ lChar.name }}
          </div>
          @if (winner()) {
          <app-dynamic-button
            [text]="'Vissza a fedélzetre'"
            (onClick)="back()"
          />
          } @else {
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              [style]="'width: ' + lChar.health + '%'"
              [attr.aria-valuenow]="lChar.health"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ lChar.health }} %
            </div>
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</app-page-shell>
