<app-page-shell backgroundUrl="/assets/backgrounds/bg_3@2x.png">
  <div class="simulation">
    @let isMobile = (screenSizeObservable() | async) === ScreenSize.MOBILE;
    <h1 class="simulation__title">
      {{ winner() ? 'A csata nyertese' : 'A tudás legyen veled!' }}
    </h1>
    <div
      class="simulation__body"
      [ngStyle]="{
        'grid-template-columns': winner()
          ? '1fr'
          : isMobile
            ? '1fr 1fr'
            : '2fr 1fr 2fr',
      }">
      @let imageWidth =
        winner() ? (isMobile ? '200px' : '400px') : isMobile ? '50vw' : '100%';
      @let darkChar = darkCharacter();
      @if (
        darkChar && (!winner() || (winner() && winner()?.side === Side.DARK))
      ) {
        <app-fighter
          [character]="darkChar"
          [isAttacking]="attacker()?.id === darkChar.id"
          [winner]="winner()"
          [defaultLookDirection]="Direction.RIGHT"
          [imageWidth]="imageWidth"
          [backgroundColor]="'grey'"
          (onBack)="back()" />
      }
      @if (!winner() && !isMobile) {
        <div class="simulation__vs">vs</div>
      }
      @let lightChar = lightCharacter();
      @if (
        lightChar && (!winner() || (winner() && winner()?.side === Side.LIGHT))
      ) {
        <app-fighter
          [character]="lightChar"
          [isAttacking]="attacker()?.id === lightChar.id"
          [winner]="winner()"
          [defaultLookDirection]="Direction.LEFT"
          [imageWidth]="imageWidth"
          [backgroundColor]="'white'"
          (onBack)="back()" />
      }
    </div>
  </div>
</app-page-shell>
