@use "sass:color";
@use "../theme/theme" as theme;

@mixin darken-background-color($base-color) {
  background-color: color.adjust(
    $base-color,
    $lightness: -1 * theme.$darken-percet
  );
}

@mixin darken-outline-button($bg-color, $text-color) {
  border-color: color.adjust(
    $bg-color,
    $lightness: -1 * theme.$darken-percet
  );
  color: color.adjust(
    $text-color,
    $lightness: -1 * theme.$darken-percet
  );
}
