<div
  class="character-image-container"
  [ngClass]="{ selectable: selectable() }"
  [ngStyle]="customImageStyle()"
  (click)="onClick()">
  <div
    [ngClass]="{
      'character-image-container__background': true,
      'character-image-container__background--left':
        lookDirection() === Direction.LEFT,
      'character-image-container__background--right':
        lookDirection() === Direction.RIGHT,
      'character-image-container__background--center':
        lookDirection() === Direction.CENTER,
      'character-image-container__background--dark':
        backgroundColor() === 'grey',
      'character-image-container__background--light':
        backgroundColor() === 'white',
      'character-image-container__background--visible':
        hasBackground() || !selectable(),
    }"></div>
  <img
    [src]="'/assets/characters/' + characterId() + '.png'"
    [alt]="characterId()"
    class="character-image-container__image" />
</div>
