.character-image-container {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  z-index: 1;
  height: inherit;

  &.selectable {
    cursor: pointer;

    .character-image-container__background {
      opacity: 0;

      &--visible {
        opacity: 1;
      }
    }

    &:hover {
      .character-image-container__background {
        opacity: 0.35;

        &--visible {
          opacity: 1;
        }
      }
    }
  }

  &__background {
    width: 60%;
    position: absolute;
    aspect-ratio: 1;
    top: 20%;
    border-radius: 100%;
    background: linear-gradient(0deg, orange, yellow);
    opacity: 1;

    &--left {
      right: 0.5rem;
    }

    &--right {
      left: 0.5rem;
    }

    &--center {
      left: unset;
    }

    &--dark {
      background: linear-gradient(0deg, grey, darkgrey);
    }

    &--light {
      background: linear-gradient(0deg, lightgrey, white);
    }
  }

  &__image {
    z-index: 2;
    height: 100%;
    width: 100%;
    padding: 1rem;
    object-fit: contain;
  }
}
