.character-image-container {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  z-index: 1;
  height: inherit;

  &__background {
    width: 60%;
    position: absolute;
    aspect-ratio: 1;
    top: 20%;
    right: .5rem;
    border-radius: 100%;
    background: linear-gradient(0deg, orange, yellow);
  }

  &__image {
    z-index: 2;
    height: 100%;
    padding: 1rem;
  }
}
