.character-image-container {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  z-index: 1;
  height: inherit;

  &__background {
    width: 60%;
    position: absolute;
    aspect-ratio: 1;
    top: 20%;
    border-radius: 100%;
    background: linear-gradient(0deg, orange, yellow);

    &--left {
      right: 0.5rem;
    }

    &--right {
      left: 0.5rem;
    }

    &--dark {
      background: linear-gradient(0deg, grey, darkgrey);
    }

    &--light {
      background: linear-gradient(0deg, lightgrey, white);
    }
  }

  &__image {
    z-index: 2;
    height: 100%;
    width: 100%;
    padding: 1rem;
  }
}
