<div class="container">
  <div class="character-swiper-container">
    <h1 class="title">Choose Your Character</h1>
    <swiper-container
      class="character-swiper"
      navigation="true"
      pagination="true"
      keyboard="true"
      grab-cursor="true"
      centered-slides="true"
      slides-per-view="1"
      space-between="30"
    >
      <swiper-slide *ngFor="let character of characters" class="character-slide">
        <div class="character-card">
          <div class="character-image-container">
            <img
              [src]="
                '/assets/characters/' + getCharacterImage(character.name) + '.png'
              "
              [alt]="character.name"
              class="character-image"
            />
          </div>
          <div class="character-info">
            <h2 class="character-name">{{ character.name }}</h2>
            <p class="character-description">{{ character.description }}</p>
            <div class="character-stats">
              <span class="stat" [ngClass]="character.side"
                >{{ character.side | titlecase }} Side</span
              >
              <span class="stat power"
                >Power: {{ character.abilities.power }}</span
              >
              <span
                class="stat midichlorian"
                *ngIf="character.abilities.midichlorian > 0"
              >
                Midichlorian: {{ character.abilities.midichlorian | number }}
              </span>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="description">
    <p>test</p>
  </div>
</div>
