.content {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
}

.description {
  width: 50%;
  height: 100%;
  color: white;
}

.character-swiper-container {
  width: 50%;
  height: 100%;

  app-character-swiper {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .description {
    width: 100%;
    padding-bottom: 1rem;
  }

  .character-swiper-container {
    width: 100%;
  }
}
