.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: transparent;
  border-bottom: 1px solid white;
  height: 65px; //TODO: add to var

  &__user-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__user-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  &__user-name {
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins Bold', sans-serif;
  }
}
